*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    background: rgb(0,30,46);
    background: linear-gradient(167deg, rgba(0,30,46,1) 0%, rgba(0,100,135,1) 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario
{
    background-color:  #006487;
    width: 350px;
    height: 550px;
    border-radius: 10px;
}

.classImage {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 80px 0px;
}

.formItem
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 2 ;
}

input
{
    justify-content: center;
    width: 265px;
    height: 35px;
    padding: 1px 2px;
    margin: 7px 0px 0px 0px;
    border-radius: 10px;
}

button 
{
    width: 270px;
    height: 35px;
    margin: 15px 0px 0px 0px;;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen AND (max-width: 1024px) /* tamanho do projeto final 1024px */
{
    
}